.vscode/

__pycache__/
backend/data.db
backend/preview_out/
backend/alerter.env
backend/.env
backend/private_key.pem
backend/public_key.pem

frontend/node_modules/
frontend/dist/
frontend/.env*.local
