[Unit]
Description=AirQMon Webserver
After=network.target
PartOf=airqmon.target

[Service]
Type=simple
User=admin
EnvironmentFile=-/etc/airqmon/airqmon.env
ExecStart=/usr/local/bin/airqmon-launch web
Restart=on-failure

[Install]
WantedBy=multi-user.target
