[Unit]
Description=AirQMon Display Service
After=network.target
PartOf=airqmon.target

[Service]
Type=simple
User=admin
EnvironmentFile=-/etc/airqmon/airqmon.env
ExecStart=/usr/local/bin/airqmon-launch display
ExecStopPost=+/usr/local/bin/airqmon-launch display-stop
Restart=on-failure

[Install]
WantedBy=multi-user.target
