[Unit]
Description=AirQMon Input Service
After=airqmon-display.service
PartOf=airqmon.target

[Service]
Type=simple
User=root
EnvironmentFile=-/etc/airqmon/airqmon.env
ExecStart=/usr/local/bin/airqmon-launch input
Restart=on-failure

[Install]
WantedBy=multi-user.target
