[Unit]
Description=AirQMon Alerter Service
After=network.target

[Service]
Type=simple
User=admin
WorkingDirectory=/home/admin/airqmon/backend
ExecStart=/home/admin/airqmon/backend/venv/bin/python /home/admin/airqmon/backend/alerter.py --db /home/admin/airqmon/backend/data.db --poll-interval 5
Restart=on-failure

[Install]
WantedBy=multi-user.target
