NTFY_URL=https://ntfy.sh
NTFY_TOPIC=
# Optional when topic is protected:
# NTFY_TOKEN=
ALERTER_CO2_HIGH=1500
ALERTER_CO2_CLEAR=500
ALERTER_COOLDOWN_SECONDS=1800
ALERTER_REPEAT_SECONDS=0
ALERTER_POLL_INTERVAL=5
